.config-group {
  font-size: 16px;
  display: flex;
  margin: 1em;
  justify-content: space-between;
  align-items: center;
}

.config-group .item {
  padding: 1em;
}

.config-group .config-aside {
  border-right: 1px solid #d3dce6;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 0.25;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.config-group .config-aside div {
  height: 3em;
  width: 100%;
  padding: 1em;
  border-top: 1px solid #d3dce6;
}

.config-group .config-main {
  flex-grow: 2;
}

.active {
  background: rgba(33, 129, 235, 0.11);
}
