nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #000000;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  padding: 0.5rem;
}
nav a {
  text-decoration: none;
  color: #000000;
}

.logo a {
  color: #ffffff;
}

.options-menu a {
  color: #000000;
}
.options-menu li {
  cursor: pointer;
}

li > div {
  padding: 1rem;
  background-color: #47525e;
  border-radius: 5px;
  height: 53px;
  color: #ffffff;
}
