.dashboard-content {
  display: flex;
  padding: 1rem;
  flex-flow: row wrap;
  align-items: center;
}

.dashboard-header {
  height: 2.25rem;
  display: flex;
  justify-content: space-between;
}

.dashboard-header .select {
  width: auto;
}
